.special-card-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 20px 20px 20px;
    padding: 30px 20px 30px 30px;
    border-radius: 10px;
    overflow: auto;
    height: 300px;
    width:80%;
    background-color:rgba(185, 100, 100, 0.1);
}
.action-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.action-card {
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
}