.background-image {
    background-image: url("../pictures/casino.jpg");
    height: 900px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login {
    width: 500px;
    background-color: #194046b3;
    padding: 30px 30px 30px 30px;
    border-radius: 1em;
}
.login-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    color: white !important;
    font-family: 'Comic Neue', cursive;
}
.login-header {
    text-align: center;
    color: whitesmoke;
    font-family: 'Comic Neue', cursive;
}